*{
margin: 0;
padding: 0;
font-family:sans-serif;
box-sizing: border-box;
}
.container{
width: 100%;
height: 100vh;
background:linear-gradient(135deg,#9900ff,#00e1ff);
padding: 4rem;
}
.ToDo{
width: 100%;
background-color: white;
min-height: 12rem;
max-width: 40rem;
margin: 9rem auto 4rem;
border-radius: 2.5rem;
}
.ToDo img{
width: 1rem;
height: 1rem;
}
.ToDo h2{
font-size: 1rem;
margin: 1rem;
padding: 1rem;
}
.search{
display: flex;
justify-content: center;
align-items: center;
/* gap: 1rem; */
background-color: #edeef0;
padding-left: 2rem;
margin-bottom: 4rem;
margin: auto;
border-radius: 3rem;
max-width: 26rem;
}
.search input{
    flex:1;
border: none;
outline: none;
background-color: transparent;
padding:1rem;
}
.search button{
border: none;
outline: none;
background-color: orange;
padding:1rem;
border-radius: 3rem;
width: 6rem;
}
.list{
    padding-left:7rem;
padding-top: 1rem;
} 
.list li{
position: relative;
padding: 1rem;
list-style: none;
user-select: none;
cursor: pointer;

}
.list li::before{
content: '';
position: absolute;
background-image: url(radio.png);
width: 2rem;
height: 2rem;
background-size: cover;
background-position: center;
left: -2rem;
top: .5rem;
}
.active{
color: #555;
text-decoration: line-through;
}
ul li.active::before{
background-image: url(check.png);
}
li span{
    position: absolute;
    font-size: 1.2rem;
    right: 0;
    left: 20rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    top: .1;
}
li span:hover{
    background-color: #ebebeb;
}
